/* Fonts */
@font-face {
    font-family: Cantora;
    src: url("CantoraOne-Regular.ttf");
}
/* Design */
body {
	font-family: 'Cantora';
	background-attachment: fixed;
	font-size:32px;
	line-height:32px;
	font-weight:100;
}
input,button {
	outline: none;
	border: none;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	border-radius: 3px;
}

ul,li,h1,h2,h3,h4,h5,h6,h7 {
	padding: 0;
	margin: 0;
}

ul,li {
	list-style: none;
}

a {
	text-decoration: none;
}
.row{
	overflow:hidden;
	width:100%;
	height:100%;
}
.any-menu{
	width:100%;
	height:100%;
	position:absolute;
}
.open-game-top{
	background:#f03236;
	top:0;
	left:0;
	position:absolute;
	width:100%;
	height:50%;
	z-index:10;
}
.open-game-bottom{
	background:#68b5f0;
	top:50%;
	left:0;
	position:absolute;
	width:100%;
	height:50%;
	z-index:10;
}
.open-game-button{
	font-size:20px;
	color:#121212;
	position:absolute;
	width:60%;
	height:10%;
	background:#ffffff;
	line-height:10%;
	text-align:center;
	cursor:pointer;
	z-index:10;
}
.main-menu{
	width:100%;
	height:100%;
	z-index:2;
}
.menus{
	width:100%;
	height:calc(100% - 40px);
	position:absolute;
	top:40px;
	left:0;
}
.menus ul{
	width:60%;
	left:20%;
	position:absolute;
}
.menus ul li{
	width:100%;
	height:auto;
	text-align:center;
	padding-top:10px;
	padding-bottom:10px;
	position:absolute;
	cursor:pointer;
}
.menus ul li.turnBack{
	color:red !important;
}
.first-menu{
	height:auto;
	top:calc(50% - 52px);
}
	.first-menu li:nth-child(1){
		background:rgb(41, 72, 125);
		color:#fff;
		font-size:20px;
	}
.game-main-menu{
	height:auto;
	top:calc(50% - 130px);
}
.game-menu{
	height:auto;
	top:calc(50% - 104px);
}
.profile{
	width:100%;
	height:40px;
	font-size:15px;
	text-align:center;
	color:#fff;
	background:#121212;
	position:absolute;
	left:-100%;
}
.profile .name{
	width:calc(30% - 5px);
	height:20px;
	padding-top:10px;
	padding-bottom:10px;
	line-height:20px;
	font-size:13px;
}
.profile .onoff-line{
	width:5px;
	height:40px;
}
.profile .onoff-line .round{
	width:5px;
	height:5px;
	margin-top:17.5px;
	border-radius:5px;
}
.profile .score{
	width:calc(35% - 40px);
	height:20px;
	padding:10px;
	line-height:20px;
}
.profile .kp{
	width:calc(35% - 40px);
	height:20px;
	padding:10px;
	line-height:20px;
}
.profile .profile-image{
	width:40px;
	height:40px;
}
.profile .profile-image img{
	width:40px;
	height:40px;
}
.waiting-page{
	width:100%;
	height:calc(100% - 40px);
	position:absolute;
	top:40px;
	left:0;
	display:none;
}
	.wait-message{
		width:100%;
		height:auto;
		margin-top:40%;
		text-align:center;
	}
	.wait-cancel{
		width:calc(60% - 20px);
		height:auto;
		padding:10px;
		background:red;
		border-radius:5px;
		margin-left:20%;
		margin-top:5%;
		text-align:center;
		color:#fff;
		cursor:pointer;
	}
.game-page{
	width:100%;
	height:calc(100% - 40px);
	top:40px;
	left:0;
	display:none;
}
.game-page-menu{
	width:100%;
	height:40px;
}
.game-page-menu-item{
	width:calc(50% - 1px);
	height:39px;
	border-bottom:1px solid #121212;
	border-right:1px solid #121212;
	font-size:15px;
	text-align:center;
	line-height:39px;
	cursor:pointer;
}
.game-page-menu-item:nth-child(2){
	width:50%;
	border-right:none;
}
.game-page-page{
	width:100%;
	height:calc(100% - 80px);
	display:none;
}
.alert-message{
	width:calc(60% - 20px);
	height:auto;
	min-height:20px;
	z-index:99;
	left:20%;
	bottom:20%;
	position:absolute;
	background:red;
	display:none;
	padding:10px;
}
.alert-message .message{
	width:calc(100% - 20px);
	color:#ffffff;
	height:auto;
	font-size:15px;
	line-height:20px;
	text-align:center;
	height:auto;
}